::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

body {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #2388CB 51%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #2388CB 51%, #144E75 100%);
  background: linear-gradient(to bottom, #1C6EA4 0%, #2388CB 51%, #144E75 100%);
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#pageTitle {
  display: grid;
  grid-column-start: 1;
  color: #E6FFEA;
}

#newButton {
  display: grid;
  height: 50px;
  width: 150px;
  grid-column-start: 2;
  align-self: center;
  justify-self: end;
  font-style: italic;
}

#libraryDisplay {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 20px;
}

legend {
  margin-top: 5px;
  margin-bottom: 5px;
}

input#pageLength {
  margin-top: 5px;
  margin-bottom: 5px;
}

input#checkbox {
  display: grid;
  place-self: end;
  margin-top: 15px;
}

button.checkButton {
  display: grid;
  place-self: end;
}

label#read {
  margin-top: 5px;
  margin-bottom: 5px;
}

button#reset {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cards {
  display: grid;
  border: 1px solid black; 
  height: 300px;
  width: 200px;
  grid-template-rows: 3fr 2fr 1fr;
  grid-template-columns: 50px 100px 50px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #FFB319;
  color: #1A0400;
}

h3.bookTitle {
  font-size: 24px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  place-self: center;
  margin: 0;
  padding-top: 10px;
  color: #2A0080
}

.bookAuthor {
  font-size: 16px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #004D4D;
}

.bookPages {
  font-size: 14px;
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: start;
  align-self: end;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 5px;
}

p.bookRead {
  font-size: 14px;
  display: grid;
  grid-column-start: 3;
  grid-row-start: 3;
  align-self: start;
  justify-self: end;
  margin: 0;
  padding-right: 3px;
}

data-id {
  display: none;
}

img {
  display: flex;
  height: 22px;
  width: 22px;
  color: black;
  grid-column-start: 3;
  grid-row-start: 1;
  place-self: center;
  margin: 0;
  padding: 1px;
  padding-bottom: 4px;
}

button.removeButton {
  height: 30px;
  width: 30px;
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
  margin-top: 5px;
  margin-right: 5px;
  padding: 1px;
}

.checkButton {
  height: 30px;
  width: 30px;
  grid-column-start: 3;
  grid-row-start: 3;
  place-self: end;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 1px;
}