::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.libraryDisplay {
  display: grid;
  height: 1000px;
  width: 1000px;
}

#displayBook {
  display: grid;
  height: 150px;
  width: 100px;
}