::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.libraryDisplay {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 20px;
}

.libraryBooks {
  display: grid;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  grid-template-rows: 3fr 2fr 1fr;
  grid-template-columns: 50px 100px 50px;
}

.bookTitle {
  font-size: 24px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  justify-self: stretch;
  margin: 0;
  padding-top: 10px;
}

.bookAuthor {
  font-size: 16px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: stretch;
  align-self: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bookPages {
  font-size: 14px;
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: start;
  align-self: end;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 5px;
}

.bookRead {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: end;
  align-self: end;
  margin: 0;
  padding-right: 5px;
  padding-bottom: 5px;
}

img {
  display: flex;
  height: 22px;
  width: 22px;
  color: black;
  grid-column-start: 3;
  grid-row-start: 1;
  place-self: center;
  margin: 0;
  padding: 1px;
  padding-bottom: 4px;
}

button.removeButton {
  height: 30px;
  width: 30px;
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
  margin-top: 5px;
  margin-right: 5px;
  padding: 1px;
}
