::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.libraryDisplay {
  display: grid;
  height: 800px;
  width: 800px;
}

.libraryDisplay > div {
  display: grid;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  grid-template-rows: 100px 100px 25px;
}

